# Compiled class file
*.class

# Log file
*.log

# Gradle
.gradle/
build/
out/

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.classpath
.project
.settings/

# VS Code
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Minecraft
run/
